.product-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* FILTERS BAR */

.filters {
  padding: 1rem;
}

.filter-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary);
}

.clear {
  text-decoration: underline;
}

.filter-head {
  margin: 1rem 0rem;
}

.filter-category {
  text-align: left;
}

.filter-category:hover{
    cursor: pointer;
}

.filter-form {
  margin: 1rem;
}

.filter-form input:hover,label:hover{
    cursor: pointer;
}

/* products page */

.products-page {
  background-color: var(--secondary);
  padding: 1rem;
}

.products-head{
    text-align: left;
    margin: 1rem;
    font-weight: bold;
}

.product-card-image{
    height: 15.5rem;
}

.card-badge{
    margin: 0rem auto;
    padding: 0.5rem;
    border-radius: 0;
}

.fav{
    color: var(--grey);
}
.fav:hover{
    color: var(--red);
}


/* respnosiveness */

@media screen and (max-width:848px){
    .filters{
        display: none;
    }

    .product-grid{
        grid-template-columns: 100%;
    }
}