.content{
    text-align: center;
    padding: 1rem;
}

.centered-wishlist{
 box-sizing: border-box;
 max-width: 90%;
 margin: auto;
 text-align: center;
}

.wishlist-heading{
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 14rem;
  box-shadow: 0.3rem 0.5rem 0.6rem 0.2rem grey;
  position: relative;
}

.card:hover {
  box-shadow: 0.3rem 0.5rem 0.6rem 0.2rem rgb(98, 98, 98);
}


.card-badge > .update-badge {
    position: absolute;
    background-color: var(--primary);
    font-size: 0.6rem;
    font-weight: bold;
    top: 1rem;
  }

  .fav{
    position: absolute;
    background-color: var(--white);
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    top: 1rem;
    left: 11.5rem;
    color: var(--fav);
  }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}

span {
  padding: 0.3rem;
  border: 0.5rem;
  cursor: pointer;
  color: black;
}


.card-image {
  height: 15.5rem;
}

.rating {
  background-color: var(--primary);
  font-size: x-small;
}

.price {
  font-size: medium;
  padding-top: 0.5rem;
}
.old-price {
  text-decoration: line-through;
  color: var(--primary);
}

.discount {
  color: var(--primary);
  font-family: Georgia, "Times New Roman", Times, serif;
}


.cart-btn{
    width: 100%;
    padding: 0.8rem;
    border-radius: 0rem;
    margin-top: 0.3rem;
}

/* grid */


.wishlist-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem,1fr));
  row-gap: 2.5rem;
  column-gap: 1.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
